/* TODO INPUT */

.App {
  text-align: center;
}

.todo-wrapper {
  margin: 20px auto 20px auto;
  width: 600px;
  padding: 20px;
}


/* TODO ITEM */

.within-list {
  cursor: pointer;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

#listed:nth-child(odd):hover {
  cursor: pointer;
}

/* FIXED LIST OF COLORS */

#color-select {
  display: flex;
  padding: 5px 10px 0 0;
}

.color-box {
  border: solid 1px #929292;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  margin-left: 5px;
}

.white {
  background-color: white;
}

.orange {
  background-color: #FFD37F;
}

.banana {
  background-color: #FFFA81;
}

.honeydew {
  background-color: #D5FA80;
}

.flora {
  background-color: #78F87F;
}

.aqua {
  background-color: #79FBD6;
}

.ice {
  background-color: #79FDFE;
}

.sky {
  background-color: #7AD6FD;
}

.orchid {
  background-color: #7B84FC;
}

.lavendar {
  background-color: #D687FC;
}

.pink {
  background-color: #FF89FD;
}
